.feed{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
   
}
.card{
    overflow-x: hidden;
}
.card img{
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
    color: #000;
    margin: 5px 0px;
}
.card h3{
    font-size: 14px;
    margin: 6px 0px;
    color: #555;
    font-weight: 600;
}
.card p{
    font-size: 14px;
}

